<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ALSE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CARGOConnectionString" connectionString="Data Source=192.168.99.10,3341;Initial Catalog=CARGO;Persist Security Info=True;User ID=cargo;Password=Azxcv99@00" providerName="System.Data.SqlClient" />
    <add name="VatTuConnectionString" connectionString="Data Source=192.168.99.2,3341;Initial Catalog=ALSE.VatTu;Persist Security Info=True;User ID=sa;Password=ABC@123alse" providerName="System.Data.SqlClient" />
    <add name="ChamCongConnectionString" connectionString="Data Source=192.168.99.2,3341;Initial Catalog=WiseEyeV5.1;Persist Security Info=True;User ID=sa;Password=ABC@123alse" providerName="System.Data.SqlClient" />
    <add name="HRConnectionString" connectionString="Data Source=192.168.99.2,3341;Initial Catalog=ALSEHR;Persist Security Info=True;User ID=sa;Password=ABC@123alse" providerName="System.Data.SqlClient" />
    <add name="NBAGETConnectionString" connectionString="Data Source=192.168.99.2,3341;Initial Catalog=NBAGET;Persist Security Info=True;User ID=sa;Password=ABC@123alse" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="images, js">
    <system.web>
      <!--<customErrors mode="Off"></customErrors>-->
      <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="images/597997-1680x1050.jpg">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v14.2.Web" />
        <add assembly="DevExpress.Web.v14.2" />
        <add assembly="DevExpress.XtraReports.v14.2" />
        <add assembly="DevExpress.Data.v14.2" />
        <add assembly="DevExpress.Printing.v14.2.Core" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.RichEdit.v14.2.Core" />
        <add assembly="DevExpress.Web.ASPxThemes.v14.2" />
        <add assembly="DevExpress.XtraCharts.v14.2.Web" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v14.2" />
        <!--<add assembly="DevExpress.Web.ASPxSpellChecker.v14.2" />-->
        <!--<add assembly="DevExpress.SpellChecker.v14.2.Core" />-->
        <add assembly="DevExpress.Web.ASPxRichEdit.v14.2" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="DangNhap.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="10000" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler" />
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <applicationSettings>
    <ALSE.Properties.Settings>
      <setting name="DHL" serializeAs="String">
        <value>parameterSoLieu</value>
      </setting>
    </ALSE.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: 5D106DEE-D6F7-4E9A-AA6A-AF57B8B7F37B-->