#tbl-products{
    width: 1500px!important;
}
#tbl-products td {
    font-size: 85%;
    padding: 2px 3px;
}
.td-ProductName {
    text-align: left;
}
#tbl-products_wrapper {
    background-color: white;
}
#myModalProductsChangeStock .modal-body {
    height: auto;
    overflow: hidden;
}
#myModalProductsChangeStock .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#myModalProductsChangeStock .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
.td-action button:not(:last-child){
    margin-right: 10px;
}