h1{
    text-align: center;
    color: white;
    margin-top: 0px;
}
#div-button-right button{
    float: right;
    margin-left: 10px;
    width: 116px;
}
.td-chucnang{
    width: 180px;
}
.td-chucnang button{
    width: 75px;
    margin-right: 5px;
}
#tbl-danhsach .td-chucnang {
    width: 270px;
}
#btn-xem{
    width: 100px;
}
.div-danhsach-them-group{
    width: 100%;
}
#modal-danhsach-them .input-group-addon {
    width: 150px;
    text-align: left;
}
table thead {
    background-color: #4477a3;
    color: white;
}