#myModalViewChiHo .modal-lg{
    width: 1200px !important;
}
.main-chiho-body {
    background-color: white;
    /* padding: 2px 5px 20px 5px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

thead td {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/*CSS duyệt thanh toán chi hộ*/
.container-duyetthanhtoanchiho {
    background-color: #fff;
    width: 560px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info {
    text-align: left;
    margin-bottom: 20px;
}

    .info p {
        margin: 5px 0;
    }

.info-title {
    font-weight: bold;
    color: #333;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    padding: 8px 12px;
    border-radius: 5px;
}

.copy-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

    .copy-button:hover {
        background-color: #45a049;
    }

.qr-section {
    margin: 20px 0;
}

.qr-code {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

.note {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.expiry-info {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.download-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

    .download-btn:hover {
        background-color: #0056b3;
    }

.instructions {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
    line-height: 1.4;
    text-align: center;
}

.highlight {
    font-weight: bold;
}
.icon-button{
    font-size: 13pt;
    cursor: pointer;
    margin-right: 5px;
}


.btn-chiho-sua:hover{
    color: #007bff;
}
.btn-chiho-xoa:hover{
    color: red;
}
.td-checkbox-child{
    cursor: pointer;
}
#f_UploadImage{
    display: none;
}
.img-pre-upload{
    margin: 5px 5px;
    max-width: 80px;
    max-height: 80px;
}
.div-upload-group{
    margin-bottom: 20px;
   
}
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    /* margin: 20px auto; */
    text-align: center;
    padding: 20px;
}
#drop-area.hover{
    border-color: #333;
}
.input-width-100px{
    width: 100px;
}
.btn-w-200px{
    width: 200px;
}
#tbl-chiho{
    margin-top: 0px !important;
}
.main-chiho-header h2{
    margin-top: 0px !important;
}
.td-chucnang{
    width: 150px;
}
.td-chucnang a{
    margin-right: 5px;
    display: inline-block;
    width: 60px;
    white-space: nowrap; 
}
/* #div-upload-btn{
    text-align: right;
} */
.tr-highlight{
    background-color: #f1f1f1;
}
.span-upload-trangthai{
    display: inline-block;
    width: 80px;
}