.radio-button {
    display: flex;
    justify-content: center;
}

.title-radio {
    color: white;
}


.span-sua {
    color: dodgerblue;
    cursor: pointer;
}

.span-xoa {
    color: red;
    cursor: pointer;
}

.span-red {
    cursor: pointer;
    color: red;
}

.span-dodgerblue {
    cursor: pointer;
    color: dodgerblue;
}
