.text-align {
    text-align: center;
}

.bodywhite {
    background-color: white;
    min-height: 350px;
    font-size: 16px;
    line-height: 1.8;
    border-radius: 20px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

    .bodywhite:hover {
        transform: translateY(-4px);
        box-shadow: 0 0.1rem 20px 0 rgba(0,0,0,0.05);
    }

.bodywhite_h2 {
    padding-top: 15px;
}

.bodywhite_p {
    text-align: left;
    padding-left: 30px;
    font-weight: 600;
}


@keyframes example {
    from {
        top: 0px;
        opacity: 0;
    }

    to {
        top: 100px;
        opacity: 1;
    }
}

.button {
    min-width: 150px;   
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*animation: ring 1.5s infinite;*/
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}
/*
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}*/

.text-red{
    color:red;
}

.toggle-warehouse{
    margin-top:120px;
    background-color:white;
}

.title-warehouse{
    font-size:28px;
    text-align:center;
}

.toggle-warehouse{
    display:none;
}

#btn-kho thead {
    background-color: #0082fa;
    font-weight:600;
}

.td_left {
    text-align: left;
}

.search-warehouse {
    float: right;
    font-size: 16px;
    padding: 10px;
}