.title-anh-hoa-don
{
    color:white;
    text-align:center;
}

.tbl-show-img{
    background-color:white;
}

.tbl-show-img > thead > tr {
    font-weight: 600;
    background-color: rgb(0 185 255 / 19%);
}